{% extends "admin/base_site.html" %}
{% load static i18n material %}

{% block extrastyle %}
{{ block.super }}
<style type="text/css">
    .errorlist {
        font-weight: bold;
    }
    .dropdown-content {
        position: fixed;
    }
</style>
{% endblock %}

{% block branding %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <h1 id="site-name">
                <a href="{% url 'admin:index' %}">
                    {% if nav_bar_minimized %}
                        <div class="brand-logo" style="min-width: 200px; background-image: url('{% static '/CoL_Logo.png' %}'); background-position: center; background-size: cover;">&nbsp;</div>
                    {% else %}
                        <strong>{{ site_header }}</strong>
                    {% endif %}
                </a>
            </h1>
        </div>
    </nav>
{% endblock %}

{% block userlinks %}
    {% block welcome-msg %}{% endblock %}
    {% comment "CUSTOM - Disabled as there is no main site" %}
    {% if site_url %}
        <a href="{{ site_url }}">{% trans 'View site' %}</a>
    {% endif %}
    {% endcomment %}
    {% comment "CUSTOM - Disabled to hide extra themes" %}
    <a href="{% url 'admin:themes' %}">{% trans 'Themes' %}</a>
    {% endcomment %}
    {% if user.is_active and user.is_staff %}
        {% url 'django-admindocs-docroot' as docsroot %}
        {% if docsroot %}
            <a href="{{ docsroot }}">{% trans 'Documentation' %}</a>
        {% endif %}
    {% endif %}
    {% if user.has_usable_password %}
        <a href="{% url 'admin:password_change' %}">
            {% trans 'Change password' %}
        </a>
    {% endif %}
    <a href="{% url 'admin:logout' %}">
        {% trans 'Log out' %}
        <i class="material-icons">exit_to_app</i>
    </a>
{% endblock %}

{% block footer %}
    {% block datepickeroptions %}
    <script>
        var datepickerOptions = {
            format: 'dd/mm/yyyy',
            autoClose: false,
            setDefaultDate: true,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}'
            },
            yearRange: 100,
            firstDay: 1
        };
        var timeOptions = {
            twelveHour: false,
            autoClose: false,
            showClearBtn: true,
            i18n: {
                cancel: '{% trans 'Cancel' %}',
                clear: '{% trans 'Clear' %}',
                done: '{% trans 'Ok' %}'
            }
        };
    </script>
    {% endblock %}

    <script src="{% static 'material/admin/js/materialize.min.js' %}"></script>
    <script src="{% static 'material/admin/js/materialize-init.min.js' %}"></script>
    <script src="{% static 'material/admin/js/admin.js' %}"></script>
    <script src="{% static 'material/admin/js/filters.js' %}"></script>
    <script src="{% static 'material/admin/js/tray.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.mousewheel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'material/admin/js/jquery.jscrollpane.min.js' %}"></script>
{% endblock %}